

.pokemonDisplay {

    .pokemonBackground{
        position: relative;
        border: 5px solid;
        border-radius: 1rem;
        width: 100%;
    }

    .pokemonSilhouette {
        filter: brightness(0);
        // position: absolute;
        // top: 175px;
        // left: 185px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}