:root {
  --header-bg: #fa901f;
  --body-bg: #ffd5a9;

  --white: white
}

html,
body, select {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--body-bg);
}

body, input,button,textarea{
  font-family:'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2,h3,h4,h5,h6{
  font-weight:600;
  }

  button{
    cursor: pointer;
}

@media (min-width: 1080px){
  html{
      font-size: 93.75%;
  }
}

@media (min-width: 720px){
  html{
      font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c7c7c7 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 12px;
    border: 0px solid #ababab;
  }