.container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    .warning-empty {
        text-align: center;

        strong {
            text-decoration: underline;
            transition: color 0.2s;

            &:hover {
                cursor: pointer;
                color: darkgray;
            }
        }
    }
}
