.container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    table {
        width: 100%;
        border-spacing: 0 0.5rem;

        th {
            color: black;
            font-weight: 400;
            padding: 1rem 2rem;
            text-align: left;
            line-height: 1.5rem;
        }

        td {
            padding: 1rem 2rem;
            border: 0;
            background: var(--shape);
            color: var(--text - body);
            border-radius: 0.25rem;

            &:first-child {
                color: red;
            }
        }

        .warning-empty {
            text-align: center;

            strong {
                text-decoration: underline;
                transition: color 0.2s;

                &:hover {
                    cursor: pointer;
                    color: darkgray;
                }
            }
        }
    }
}