.stats {
  padding: 1rem 3rem 2rem;
  border-image: url("/images/frame.svg") 15 fill / 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  >h3 {
    line-height: 2rem;
  }

  .stats_wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
  }
}