.stats{
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("/images/dialog_frame_formated.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: contain;

  }