.container{
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    grid-area: guess;

    @media (max-width:600px) {
        h2{
            font-size: larger;
        }
        width: 210px;
    }
    @media (max-width:500) {
        h2{
            font-size: larger;
        }
        width: 180px;
    }
    @media (max-width:440px) {
        h2{
            font-size: medium;
        }
        width: 100px;
      }
      @media (max-width:300px) {
        h2{
            font-size: smaller;
        }
        width: 100px;
      }
    img{
        width:100%;
    }

}