.wrapper {
    padding: 1rem;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 3rem;
    display: grid;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;

    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "start start start start"
        "random stats stats guess";

    overflow: hidden;

    @media (max-width:1144px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "start start"
            "random guess"
            "stats stats";
    }

}

.gameStart {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: start;

    padding-bottom: 3rem ;
    button {
        width: 50%;
        margin-top: 5rem;
        padding: 2rem;
        
        border-radius: 2rem;
        border: 0;
        
        background: rgb(255, 158, 13);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        
        font-size: x-large;
        font-weight: bold;
        color: rgb(255, 255, 255);

        transition: all 0.2s ease-in-out;
        &:hover {
            filter: brightness(0.9);
            background: var(--header-bg);

            color: white;
        }
    }
}

.gameStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: stats;

    select {
        max-width: clamp(460px, 100%, 600px);
        margin: 0.5rem 0;
        padding: 1rem;
        grid-area: stats;

        border: 2px solid whitesmoke;
        border-radius: 1rem;

        background-color: white;
        transition: all 0.2s ease-in-out;
        text-transform: capitalize;

        @media (max-width:580px) {
            width: 70%;
        }

        &:hover {
            background-color: whitesmoke;
        }

        option {
            background-color: var(--white);
        }
    }
}