.contentContainer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;

    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "start start start start"
        "random stats stats guess";

    overflow: hidden;

    @media (max-width:1144px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "start start"
            "random guess"
            "stats stats";
    }
    
}

.gameStart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-area: start;


    button {
        font-size: x-large;
        margin-top: 5rem;
        align-self: center;
        width: 50%;
        border-radius: 10rem;
        background: rgb(255, 200, 81);
        border: 0;
        padding: 2rem;
        color: rgb(36, 25, 0);
        font-weight: bold;
        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.9);
        }
    }
}

.gameStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: stats;

    select {
        width: 500px;
        margin: 0.5rem 0;
        padding: 1rem;
        grid-area: stats;

        border: 2px solid whitesmoke;
        border-radius: 1rem;

        background-color: white;
        transition: all 0.2s ease-in-out;
        text-transform: capitalize;

        @media (max-width:580px) {
            width: 70%;
        }

        &:hover {
            background-color: whitesmoke;
        }

        option {
            background-color: white;
            margin: 50px;
        }
    }
}