.container {

    button {
        font-size: 100px;
        margin-top: 5rem;
        align-self: center;
        border-radius: 3rem;
        background: rgba(255, 255, 255, 0);
        border: 0;
        padding: 0 1.5rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.9);
        }
    }
}