.wrapper {
    background-color: var(--header-bg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header_wrapper_nav {
            gap: 30px;
            margin-top:1rem ;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 150px;
            opacity: 1;
            transition: all 0.3s ease-in-out;

            a {
                color: whitesmoke;
                font-size: larger;
                display: inline-block;
                position: relative;
                padding: 0 0.5rem;
                height: 100%;
                line-height: 1.5rem;

                &:hover {
                    color: var(--white);
                }

                &.active {
                    color: var(--white);
                    font-weight: bold;
                }

                &.active::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    bottom: -7px;
                    left: 0;
                    border-radius: 3px 3px 0 0;
                    background-color: var(--white);
                }
            }

            .button_add {
                margin-bottom: 1rem;
                color:white;

            }
        }
    }


    @media (min-width:600px) {
        height: 5rem;

        .container {
            flex-direction: row;
            width: 95%;

            .header_wrapper_nav {

                width: 100%;
                height: 100%;

                flex-direction: row;
                justify-content: flex-start;
                max-height: inherit;

                a {
                    text-decoration: none;
                    display: inline-block;
                    position: relative;
                    padding: 0 0.5rem;
                    height: 100%;
                    line-height: 5rem;
                    margin-left: 2rem;
                    justify-content: flex-start;

                    &:hover {
                        color: var(--white);
                    }

                    &.active {
                        color: var(--white);
                        font-size: larger;
                        font-weight: bold;
                    }

                    &.active::after {
                        content: '';
                        position: absolute;
                        height: 3px;
                        width: 100%;
                        bottom: 1px;
                        left: 0;
                        border-radius: 3px 3px 0 0;
                        background-color: var(--red);
                    }

                }

                .button_add {
                    margin: 0;
                    margin-left: auto;
                    
                }
            }
        }
    }
}

.not_active {
    display: flex;

    &.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .button_add {
            display: none;
        }

        .header_wrapper_nav {
            height: 0px;
            overflow: hidden;
            opacity: 0;

            a {
                display: none;

            }
        }
    }
}

.logoImage {
    >img {
        height: 70px;
        filter: brightness(1.1);
        margin: 5px;

        &:hover {
            filter: brightness(1);
        }
    }

}


// === INDEPENDENTE === //
.button_add {
    font-size: 25px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    margin: 0 auto;

}

.mobile_button {
    position: absolute;
    right: 15px;
    top: 10px;
    min-width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 101, 14);
    border: 1px solid transparent;
    border-radius: 5px;

    cursor: pointer;

    &::after {
        content: "";
        display: block;
        width: 15px;
        height: 2px;
        background-color: white;
        box-shadow: 0px 6px white, 0px -6px white;
        transition: transform 0.2s ease-in-out;
    }

    @media (min-width:600px) {
        display: none;
    }

}

.mobile_button_active {
    background-color: var(--header-bg-darker);
    box-shadow: 0px 0px 0px 3px;
    color: var(--header-bg);
    transition: transform 0.2s ease-in-out;

    &::after {
        width: 4px;
        height: 4px;

        border-radius: 2px;
        transform: rotate(-90deg);
    }
}